/* detail.css */
.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jump{
    position: fixed;
    bottom: 40px;
    left: 40px;
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 75px;
}

.chart-region {
    height: 400px;
    width: 700px;
}
.chart-background {
    object-fit: fill;
}
.chart-data {
    width: 700px;
    height: 600px;
}


.gauge-region {
    height: 400px;
    width: 400px;
}
.data-gauge {
    colors: #9DF189, #FD3636, #3BF8FF, #3BF800,#000000;
    weights: 4, 2, 1,3,10;
}